<% include ../partials/header %> 

<div class="mt-3 mb-5">
    <h1 class=" display-4 text-center animated bounceInRight delay-0s">About</h1>
    <div class="container">
        <div class="ui segment padded compact mx-auto animated bounceInUp delay-0s">
            <p><strong>Yelpcamp is a Node.js web application originally developed by Colt Steele on Udemy - <a href="https://www.udemy.com/the-web-developer-bootcamp/">The Web Developer Bootcamp by Colt Steele</a></strong></p>
            <h2 class="ui floated left header mt-3">Features</h2>            
            <div class="ui clearing divider"></div>
            <ul class="container ml-4">

                    <li class="my-3"><strong>Authentication</strong><ul>
                        <li>User can login with username and password.</li>
                    </ul></li>
                    <li class="my-3"><strong>Authorization</strong><ul>
                        <li>Users cannot edit or delete camps/comments created by other users.</li>
                        <li>User must be signed in to create a camp.</li>
                    </ul>
                    </li>
                    <li class="my-3"><strong>CRUD(Create, Read, Update, Delete) based development</strong><ul>
                        <li>Create, edit, update and delete camps/comments</li>
                        <li>Next campground feature <strong>(Previous campground currently disabled)</strong></li>
                    </ul>
                    </li>
                    <li class="my-3"><strong>User account functionalities</strong><ul>
                        <li>Password reset via email comfirmation</li>
                        <li>OAuth 2.0 through Google+ and Facebook <strong>(Works locally with appropriate client info)</strong><ul><li><em>To gain privilege for use of Google's and Facebook's OAuth feature, you must submit your app for verification.</em></li></ul> </li>
                        
                    </ul>
                    </li>         
                    <li class="my-3"><strong>Interactive flash messages to guide users</strong></li>         
                    <li class="my-3"><strong>Responsive web design</strong></li>         
            </ul>
            <h2 class="ui floated left header mt-3">Dependencies</h2>            
            <div class="ui clearing divider"></div>           
            <ul class="container ml-4">
                    <li class="my-2"><a href="https://caolan.github.io/async/"class="my-3"><strong>async</strong></a></li>
                    <li class="my-2"><a href="https://www.npmjs.com/package/body-parser"class="my-3"><strong>body-parser</strong></a></li>
                    <li class="my-2"><a href="https://github.com/jaredhanson/connect-flash"class="my-3"><strong>connect-flash</strong></a></li>
                    <li class="my-2"><a href="https://github.com/expressjs/cookie-session "class="my-3"><strong>cookie-session</strong></a></li>
                    <li class="my-2"><a href="https://nodejs.org/api/crypto.html#crypto_crypto"class="my-3"><strong>crypto</strong></a></li>
                    <li class="my-2"><a href="https://github.com/motdotla/dotenv"class="my-3"><strong>dotenv</strong></a></li>
                    <li class="my-2"><a href="https://github.com/mde/ejs"class="my-3"><strong>ejs</strong></a></li>
                    <li class="my-2"><a href="https://expressjs.com/"class="my-3"><strong>express</strong></a></li>
                    <li class="my-2"><a href="https://github.com/markau/express-sanitizer"class="my-3"><strong>express-sanitizer</strong></a></li>        
                    <li class="my-2"><a href="https://www.npmjs.com/package/method-override"class="my-3"><strong>method-override</strong></a></li>
                    <li class="my-2"><a href="https://momentjs.com/"class="my-3"><strong>moment</strong></a></li>
                    <li class="my-2"><a href="https://mongoosejs.com/"class="my-3"><strong>mongoose</strong></a></li>
                    <li class="my-2"><a href="https://www.npmjs.com/package/node-geocoder"class="my-3"><strong>node-geocoder</strong></a></li>
                    <li class="my-2"><a href="https://nodemailer.com/about/"class="my-3"><strong>nodemailer</strong></a></li>
                    <li class="my-2"><a href="https://github.com/jaredhanson/passport"class="my-3"><strong>passport</strong></a></li>
                    <li class="my-2"><a href="https://github.com/jaredhanson/passport-google-oauth2"class="my-3"><strong>passport-google-oath20</strong></a></li>
                    <li class="my-2"><a href="https://github.com/jaredhanson/passport-facebook"class="my-3"><strong>passport-facebook</strong></a></li>
                    <li class="my-2"><a href="https://github.com/jaredhanson/passport-local#passport-local"class="my-3"><strong>passport-local</strong></a></li>
                    <li class="my-2"><a href="https://github.com/saintedlama/passport-local-mongoose"class="my-3"><strong>passport-local-mongoose</strong></a></li>
         </ul>
        
            
            
            
        </div>
    
    
    </div>

</div>



<% include ../partials/footer %> 