  <footer id="footer" class="page-footer font-small special-color-dark pt-4">
        
        <div class="footer-copyright text-center text-muted py-3">© 2019 Copyright:
            <a class="ancers" href="/"> Yelpcamp.com</a>
            <a class="ancers" style="display:block;" href="https://www.udemy.com/the-web-developer-bootcamp/learn/v4/content">The Web Developer Bootcamp by Colt Steele</a>
            <div>Developed by <a class="ancers" href="https://github.com/nchulani2">Naveen Chulani</a></div>
        </div>
   </footer>  
   <script>
    (function() {
    'use strict';
    window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
        });
    }, false);
    })();
    </script>

    <%# jQuery %> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <%# Modernizer %> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>

    <%# Semantic Bootstrap %> 
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    
    

    <%# Masonry %> 
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script>
        var $gridmason = $(".gridmason").masonry({
            itemSelector: ".grid-item",
            columnWidth: 350,
            fitWidth: true       
        });
        $gridmason.imagesLoaded().progress(()=>{
            $gridmason.masonry();
        });
    </script>
    <script>
        $('.special.cards .image').dimmer({
            on: 'hover'
        });
    </script>
    <script>

        $("#signUp").on("click",(event)=>{
            $("#container").addClass("right-panel-active")
        })

        $("#signIn").on("click",(event)=>{
            $("#container").removeClass("right-panel-active")
        })
    </script>

   
</body>
</html>